*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color: pink;
    display: grid;
    place-items: center;
}
.calculadora{
    background-color: blueviolet;
    color: black;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
}
.pantalla{
    grid-column: 1/-1;
    background-color: salmon;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}
.btn{
    background-color:darkmagenta;
    color: violet;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
}
#cero{
    grid-column: span 2;
    background-color: rgb(76, 3, 145);
}
#cero:hover{
    background-color: plum;
}
#igual{
    grid-row: span 2;
    background-color: palevioletred;
}
#igual:hover{
    background-color: rosybrown;
}